<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar mode="ios" color="light">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="ion-padding">
    <h1 class="title">About <span>me</span></h1>
    <ion-avatar slot="start" >
      <img
        src="https://avatars.githubusercontent.com/u/55465633?v=4"
        alt="img"
        style="margin-left: 10px;"
      />
    </ion-avatar>
    <p class="txt">
      Hi, my name is Lina but you can call me Lirrums 👩, I'am a software
      developer with a specialization in mobile applications 💻. I've created
      <b>RecetApp 🥘</b> for the people can have a better habit in your
      nutrition. <b>This app is 100% free and open source,</b> btw if you want
      add more modules or work until from you want, you can do it obviously in
      their respective repository.
    </p>
    <p class="txt">
      Repository Link:
      <a href="https://github.com/lirrumscode/recets_app" target="_blank"
        ><b>Touch me 👆</b></a
      >
    </p>
    <p class="txt">
      My portfolio:
      <a href="https://www.instagram.com/lirrumscode" target="_blank"
        ><b>Touch me 👆</b></a
      >
    </p>
  </div>
</ion-content>
