<ion-content color="light">
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <section class="sec-inf">
            <ion-col size="12">
              <h2 class="heading">Menu: <span>{{ item }}</span></h2>
            </ion-col>
            <ion-list style="border-radius: 20px">
              <ion-item lines="none" *ngFor="let items of dataItems">
                <ion-avatar>
                  <img [src]="items.image" *ngIf="items.image"/>
                </ion-avatar>
                <ion-label>
                  <h2 class="title">{{ items.title }}</h2>
                  <p class="text">{{ items.restaurantChain }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
