.sec-inf {
  .heading {
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    span {
      font-weight: 300;
    }
  }
  .title {
    color: #000;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0px;
    padding-left: 20px;
  }
  .text {
    margin-top: 0px;
    color: #000;
    font-weight: 300;
    padding-left: 20px;
    text-align: left;
  }
}
