.title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

ion-card-subtitle {
  a {
    color: #000;
    text-decoration: none;
  }
}
.text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.text-one{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #000;
    font-weight: 300;
}